language: java

sudo: false

jdk: oraclejdk8

before_install: mvn package

deploy:
  - provider: releases
    file_glob: true
    file:
      - target/demo.jar
    api_key: $GITHUB_TOKEN
    skip_cleanup: true
    on:
      tags: true
